* {
  box-sizing: border-box;
}

#root {
  background: #222226;
}

.App {
  display: grid;
  grid-template-columns: 160px 1fr;
  grid-template-rows: 60px calc(100vh - 60px);
  grid-template-areas:
        "header header"
        "nav main"
        "nav main";
}


.content {
  grid-area: main;
  background-color: #444446;
  border-radius: 6px;
  margin: 16px;
  color: #fff;
  overflow: hidden;
}