.form__control {
  width: 100%;
  display: inline-flex;

  textarea {
    width: 100%;
    outline: none;
    height: 40px;
    font-size: 14px;
    resize: none;
    overflow: hidden;
    background: transparent;
    border-radius: 6px;
    border: 1px solid #666666;
    min-height: 36px;
    max-height: 200px;
    word-wrap: break-word;
    appearance: none;
    padding: 8px 12px;
    color: #c9c9c9;
    transition: 0.2s;
    cursor: pointer;

    &:hover {
      border-color: #555555;
    }

    &:focus {
      border-color: #555555;
    }


  }

  &_error {
    textarea {
      border: 1px solid darkred;
    }

    span {
      color: rgb(255, 154, 154);
      font-size: 12px;
    }
  }
}
