.form__control {
  width: 100%;


  input {
    width: 100%;
    outline: none;
    overflow: hidden;
    border-radius: 3px;
    appearance: none;
    padding: 4px 10px;
    transition: 0.2s;
    cursor: pointer;
    height: 28px;
    border: 0;
    font-size: 13px;
    color: #fff;
    background: #555556;

    &::placeholder {
      color: #cecece;
    }

    &:hover {
      border-color: #555555;
    }

    &:focus {
      border-color: #555555;
    }


  }

  &_error {
    textarea {
      border: 1px solid darkred;
    }

    span {
      color: rgb(255, 154, 154);
      font-size: 12px;
    }
  }
}
