.users {
  height: calc(100vh - 88px);
overflow-y: auto;
  overflow-x: hidden;
  background: #333336;
  &__container {
    padding: 20px 20px 0;
    display: flex;
    flex-wrap: wrap;
    margin: 0px -10px;



  }

  //.user__item
  &__item {
    flex: 1 1 calc(20% - 20px);
    margin: 0px 8px 20px;
    overflow: hidden;
  }

  //.user__img
  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    height: 133px;

    img {
      max-width: 100%;
      object-fit: cover;
    }
  }

  //.user__body
  &__body {
    margin-top: 12px;
  }

  //.user__name
  &__name {
    font-weight: 500;
    color: #dadada;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 8px;
  }

  //.user__status
  &__status {
    margin-top: 8px;
    font-size: 16px;
  }

  //.user__location
  &__location {
    font-size: 14px;
    color: #777777;
    font-weight: 600;
    margin-top: 4px;
    margin-bottom: 20px;
  }
}

