.nav {
  grid-area: nav;
  background-color:#222226 ;
  padding: 20px;
}

.item {
  &:not(:last-child) {
    margin-bottom: 10px;
  }

  a {
    color:  #777;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        color: #ccc;
      }
    }


  }
  a.activeL {
    color: rgb(255, 240, 173);
  }
}
