.title {
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 40px;
}

.subtitle {
  font-size: 18px;
  color: #fff;
  margin-top: 10px;
}

.items {
  margin-top: 20px;
}

.form {
  margin-top: 8px;
}

.form__control {

}

.form__btn {
  margin-top: 10px;

  button {

  }
}


