.title {
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 40px;
}

.subtitle {
  font-size: 18px;
  color: #fff;
  margin-top: 10px;
}

.items {
  margin-top: 20px;
}

.form {
}

.form__control {
  width: 100%;
  outline: none;
  height: 40px;
  font-size: 14px;
  resize: none;
  margin-top: 8px;
  border: 0;
  border-radius: 8px;
  padding: 4px 8px;
}

.form__btn {
  margin-top: 10px;

  button {

  }
}


