.profile {
  display: flex;
  //.profile__left
  &__left {
    flex: 0 0 230px;
    padding: 15px;
    border-radius: 6px;
    background: #333336;
  }

  //.profile__img
  &__img {
    width: 100%;
    height: 200px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover
    }

  }

  //.profile__btn
  &__btn {
  }

  //.profile__right
  &__right {
    flex: 1 1 auto;
    margin-left: 28px;
  }

  //.profile__name
  &__name {
    font-weight: 600;
    color: #cecece;
    font-size: 20px;
  }

  //.profile__status
  &__status {
    margin-top: 10px;
    font-size: 14px;
    border-bottom: 1px solid #c9c9c9;

  }

  //.profile__about
  &__about {

  }

}
